.breadcrumbs {
  background-color: #d8d6bd;
  padding: 4px 0;
}

.breadcrumbs__list .breadcrumbs__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: inherit;
  font-size: 11px;
  line-height: 11px;
}

.breadcrumbs__list .breadcrumbs__item .breadcrumbs__link {
  font-size: 11px;
  line-height: 11px;
}

.breadcrumbs__list .breadcrumbs__item .breadcrumbs__sep {
  padding: 0 4px;
}

.breadcrumbs__list .breadcrumbs__item .breadcrumbs__sep img {
  height: 12px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#pdf {
  padding: 20px;
  width: 400px;
}

.page {
  padding-top: 35px;
}

@media (max-width: 767px) {
  .page .card__left__photo.card__left__photo__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .page .card__left__photo {
    margin-bottom: 40px;
  }
}

.page .h1__small {
  margin-bottom: 17px;
}

.page .h2__page {
  margin-bottom: 17px;
}

.page .h2__page[title] {
  cursor: pointer;
}

.page .card__left__photo__logo {
  cursor: pointer;
  display: block;
}

.page .card__left__photo__znak {
  cursor: pointer;
  display: block;
}

.page .card__right__top.block__flex {
  padding: 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .page .card__right__top.block__flex {
    padding: 0 !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
  }
}

.page .card__right__top.block__flex .card__right__top__link {
  padding: 0 0 0 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  height: 20px;
}

@media screen and (max-width: 1200px) {
  .page .card__right__top.block__flex .card__right__top__link {
    height: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .page .card__right__top.block__flex .card__right__top__link {
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.page .card__right__top.block__flex .card__right__top__link:first-child::before {
  background: url(../../images/star.svg) no-repeat center center;
  background-size: contain;
}

.page .card__right__top.block__flex .card__right__top__link:nth-child(2)::before {
  background: url(../../images/chat.svg) no-repeat center center;
  background-size: contain;
}

.page .card__right__top.block__flex .card__right__top__link:nth-child(3)::before {
  background: url(../../images/cart/ruble.svg) no-repeat center center;
  background-size: contain;
}

.page .card__right__top.block__flex .card__right__top__link.card__right__top__link:nth-child(4)::before {
  background: url(../../images/cart/otziv.svg) no-repeat center center;
  background-size: contain;
}

.page .card__right__top.block__flex .card__right__top__link.card__right__top__link:nth-child(5)::before {
  background: url(../../images/cart/pdf.svg) no-repeat center center;
  background-size: contain;
}

@media (max-width: 1200px) {
  .page .card__right__tur__item__text {
    padding: 5px 5px 0 5px;
  }
}

@media (max-width: 1200px) {
  .page .card__right__tur {
    margin-bottom: 0;
  }
}

.page .card__right__tur__item__img {
  height: 88px;
}

@media screen and (max-width: 1200px) {
  .page .card__right__bottom {
    position: relative;
    top: 0;
  }
}

@media screen and (max-width: 1200px) {
  .page .cart__select:nth-child(2) {
    padding: 0;
  }
}

.header__bottom__right {
  text-align: right;
  color: black;
}

body :focus {
  outline: none !important;
}

body .ui-tooltip {
  text-align: justify;
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 95%;
  color: #616161;
  background-color: #FEFCDD;
}

body .ui-overlay-shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .ui-tooltip {
  border-radius: 0;
  border: 2px solid #D8D6BD;
  -webkit-box-shadow: 0 !important;
          box-shadow: 0 !important;
}

.ui-widget-content {
  background: #d8d6bd;
}

.ui-dialog {
  z-index: 30;
  padding: 20px;
  border: 2px solid #841214;
}

@media screen and (max-width: 767px) {
  .ui-dialog {
    padding: 10px;
  }
}

.ui-dialog .ui-helper-hidden-accessible {
  display: none;
}

.ui-dialog .ui-widget-header {
  border-bottom: none;
  color: #ffffff;
}

.ui-dialog .ui-widget-header .ui-button .ui-icon {
  background-image: url(/images/close.svg);
}

.ui-dialog .ui-widget-header .ui-dialog-titlebar-close:after {
  content: 'x';
}

.ui-dialog .ui-widget-header .ui-dialog-titlebar-close {
  position: absolute;
  right: 10px;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .ui-dialog .ui-widget-header .ui-dialog-titlebar-close {
    top: 20px;
  }
}

.ui-dialog .ui-widget-header .ui-icon-closethick {
  background-size: contain;
}

.ui-dialog .ui-widget-header .ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-dialog .ui-widget-header .ui-button-icon-only {
  text-indent: -9999px;
}

.ui-dialog .ui-widget-header .ui-button-icon-only .ui-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  width: 16px;
  height: 16px;
}

.ui-dialog .ui-button {
  cursor: pointer;
  background: #841214;
  border-radius: 3px;
  width: 175px;
  height: 50px;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  color: #F9F9F9;
  border: none;
  margin: 10px 5px;
}

.pluso-logo,
.pluso-go {
  display: none;
}

.pluso-box {
  background: #61615f !important;
  border-color: #61615f !important;
}

.ui-dialog-buttonset {
  padding: 10px;
  text-align: center;
}

#dialog-share {
  text-align: center;
}

form#order-form span.row {
  display: block;
  height: 45px;
}

@media screen and (max-width: 767px) {
  form#order-form span.row {
    height: 65px;
  }
}

form#order-form .footnote {
  color: red;
}

form#order-form sup {
  color: red;
}

form#order-form span.lable {
  min-width: 170px;
  width: 30%;
  font-size: 14px;
  display: inline-block;
}

form#order-form input {
  width: 60%;
}

@media screen and (max-width: 767px) {
  form#order-form input {
    margin-bottom: 2px;
  }
}

form#order-form div.error-information {
  color: red;
  font-size: 12px;
  position: relative;
  margin-top: -5px;
  display: none;
}

form#order-form textarea {
  width: 95%;
}

form#order-form .success {
  text-align: center;
  display: none;
}

form#sendsay_form .footer__form__title input {
  margin-right: 5px;
}

table.wishlist {
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
}

table.wishlist th,
table.wishlist td:first-child {
  background: #d8d6bd;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
}

table.wishlist th {
  line-height: 14px;
}

table.wishlist th,
table.wishlist td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  padding: 10px;
}

table.wishlist td {
  background: #d8d6bdab;
}

table.wishlist th:first-child,
table.wishlist td:first-child {
  text-align: left;
}

.btn {
  cursor: pointer;
  background: #841214;
  border-radius: 3px;
  width: 175px;
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #F9F9F9;
  border: none;
  margin-top: 10px;
  display: inline-block;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */